Hi {{ display_name }},

Your JACOB account has been permanently deleted as requested. All your
personal data has been removed from our systems.

We're sorry to see you go. If you ever want to rejoin, you're always
welcome to create a new account.

Take care,
— The JACOB team

---
This is a final confirmation that your JACOB account has been deleted.
No further emails will be sent to this address.
